{% extends 'base.html.twig' %}

{% block title %}New Formation{% endblock %}

{% block body %}
    <h1>Create new Formation</h1>

    {{ include('cv/formation/_form.html.twig') }}

    <a href="{{ path('formation.list') }}">Annuler</a>
{% endblock %}
