{% extends 'base.html.twig' %}
{% block title %}Candidats{% endblock %}
{% block body %}
<div class="container mt-4">

    <h1>Gérer les Candidats</h1>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Candidats</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.nom }} {{ candidat.prenom }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('hr.candidat.edit', {slug: candidat.slug, id: candidat.id, current_role:'hr', current_menu:'candidat'})}}" role="button">Editer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('hr.candidat.add', {current_role:'hr', current_menu:'candidat'})}}" role="button">Ajouter un candidat</a>
</div>
{% endblock %}