{% extends 'base.html.twig' %}
{% block body %}
<div class="jumbotron text-center">
    <h1>Bienvenue sur la Home Page</h1>
    <p>bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla </p>
</div>

        <div class="container">
        </div>
{% endblock %}