{% extends 'base.html.twig' %}
{% block title %}
Candidat
{% endblock %}


{% block menu %}
{{ include ("humanRessources/menu.html.twig") }}
{% endblock %}

{% block body %}
<div class="container mt-4">

    <h1>Nouveau candidat</h1>

    {{ include('humanRessources/candidat/form.html.twig', {form: form}) }}

</div>
{% endblock %}