:root {
  --blue: #677EC7;
  --red: #F45F4D;
}

@media print { 
  .noprint { 
     visibility: hidden; 
  } 
} 

.btn-print{
  margin-top: 50px;
}

body {
  /* font-family: "Open Sans", Helvetica, Arial, sans-serif; */
  font-family: Avenir, Verdana, Calibri;
  font-size: 11pt; 
  color: var(--blue);
  margin: 20px;
} 


/* ---------------- ENTETE ---------------- */
.header{
  display: table;
  width: 100%;
  height: 150px !important;
}

.header .entreprise-logo {
  position: fixed;
  top: 20px;
  left: 20px;
}

.header .entreprise-coordonnees {
  display: table-cell;
  width: 64%;
  text-align: right;
}

.header .entreprise-coordonnees .entreprise-name {
  font-size: 12pt;
  font-weight: bold;
}

.header .entreprise-coordonnees .entreprise-adresse {
  font-size: 10pt;
  padding-top: 5px;
}

.header .entreprise-coordonnees .entreprise-commercial {
  font-size: 11pt;
  font-style: italic;
  padding-top: 5px;
}

/* ---------------- CANDIDAT ---------------- */

.candidat {
  margin-top: 20px;
}

.candidat .candidat-name {
  font-size: 18pt !important;
  width: 100%;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}

.candidat .candidat-resume {
  font-size: 18px !important;
}


/* ---------------- CATEGORIE ---------------- */

.categorie {
  margin-top: 10px;
  border-bottom: rgba(103,126,199, .5) solid 5px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

/* ---------------- FORMATION ---------------- */

.formation {
  margin-top: 10px;
  border: grey solid 1px;
  border-collapse: collapse;
}
.formation-header {
  text-transform: uppercase;
  padding: 5px; 
  color: white !important;
  background-color: var(--blue) !important;
  border: grey solid 1px;
  border-collapse: collapse;
}
.formation-border {
  border: grey solid 0.5px;
  border-collapse: collapse;
}

.formation-annee{
  text-align: center;
}

.formation-label{
  padding-left: 5px;
  display: table;
  margin: 0;
  width: 100%;
}

.formation-diplome{
  padding-left: 5px;
  display: table-cell;
  font-weight: bold;
  margin: 0;
  width: 90%;
}

.formation-alternance{
  padding-right: 5px;
  display: table-cell;
  font-style: italic;
  text-align: right;
  font-size: 10pt;
  color: grey;
  width: 10%;
}

.formation-ecole{
  padding-left: 5px;
  font-style: italic;
  margin: 0;
  width: 100%;
}

/* ---------------- LINK ---------------- */

a:link,
a:visited, 
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
} 