<li class="nav-item">
    <a class="nav-link {% if (menu is defined) and (menu  == 'candidat') %} active {% endif %}" href="{{ path('hr.candidat.list')}}">Candidats<span class="sr-only">(current)</span></a>
</li>